<template>
  <div id="app" class="container">
    <img alt="Vue logo" src="./assets/logo.png" class="logo" />

    <TodoList />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import TodoList from "./components/TodoList.vue";
import Vue from "vue";
import Vuex from "vuex";

Vue.use(Vuex);

const store = new Vuex.Store({
  state: {
    todos: [
      {
        id: 1,
        title: "Finish Vue Screencast",
        completed:false
      },
      {
        id: 2,
        title: "Take over world",
        completed: false
      }
    ],
    filter: "all"
  },
  mutations: {
    addTodo(state, todo) {
      state.todos.push(todo);
    },
    removedTodo(state, todo) {
      state.todos = state.todos.filter(item => item != todo);
    },
    changeFilter(state, filter) {
      state.filter = filter;
    },
    clearCompletedTodos(state) {
      state.todos = state.todos.filter(todo => !todo.completed);
    },
    checkAllChanged(state) {
      console.log(this.getters.anyRemaining);
      this.getters.anyRemaining
        ? state.todos.forEach(todo =>
            !todo.completed ? (todo.completed = true) : ""
          )
        : state.todos.forEach(todo => (todo.completed = false));
    },
    finishedEdit(store,data) {
     store.todos.splice(data.index, 1, data.todo);
    }
  },

  actions: {
    addTodo(context, todo) {
      context.commit("addTodo", todo);
    }
  },
  getters: {
    remaining: state => {
      return state.todos.filter(todo => !todo.completed).length;
    },
    anyRemaining: (state, getters) => {
      return getters.remaining != 0;
    },
    todosFiltered: state => {
      if (state.filter == "all") {
        return state.todos;
      } else if (state.filter == "active") {
        return state.todos.filter(todo => !todo.completed);
      } else if (state.filter == "completed") {
        return state.todos.filter(todo => todo.completed);
      }
      return state.todos;
    }
  }
});

export default {
  store,
  name: "app",
  components: {
    TodoList
  }
};
</script>

<style>
.container {
  max-width: 600px;
  margin: 0 auto;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
  font-size: 24px;
}
.logo {
  display: block;
  margin: 20px auto;
  height: 75px;
}
</style>
